# PUC Minas
## Pós-Graduação em Ciência de Dados: Saúde e IA
### Aula Prática 1: Conceitos, Comandos, Funções e Operações Básicas

#### 1. Impressão de valores

In [4]:
print(15)
print("15")
print(15.5)
print("15.5")
print("Hello World")
print("H")
print(True)
print(False)

15
15
15.5
15.5
Hello World
H
True
False

#### 2. Criando variáveis

In [5]:
# Númerica inteira
num_int = 25
print(num_int)
type(num_int)

25

int

In [6]:
# Numérica Decimal
num_float = 25.25
print(num_float)
type(num_float)

25.25

float

In [7]:
# String
var_string = "Hello World"
print(var_string)
type(var_string)

Hello World

str

#### 3. Operações Aritméticas

In [23]:
num1 = int(input("Insira a sua idade em anos: "))
num2 = int(input("Insira a idade de outra pessoa: "))

In [24]:
# Soma
print(num1 + num2)

15

In [25]:
# Subtração
print(num1 - num2)

5

In [26]:
# Multiplicação
print(num1 * num2)

50

In [27]:
# Divisão
print(num1 / num2)

2.0

In [30]:
# Parte inteira de divisão
print(num1 // num2)

2

In [28]:
# Resto de divisão
print(num1 % num2)

0

In [29]:
# Potenciação
print(num1 ** num2)

100000

#### 4. Trabalhando com strings

In [40]:
nome = input("Digite seu nome completo: ")

In [41]:
# Acessando último caractere da string
print(nome[-1])

n

In [42]:
# Acessando o terceiro caractere da string
print(nome[2])

t

In [43]:
# Acessando os 4 primeiros caracteres da string
print(nome[0:4])

Rith

In [44]:
# Descobrindo o tamanho da string
print(len(nome))

12

In [50]:
# Separando seu sobrenome da string
splitNome = nome.split()
print(splitNome[1])

Natan

In [51]:
# Acessando somente o seu primeiro nome
print(splitNome[0])

Rithie

#### 5. Criando listas

In [52]:
# Criando uma lista com seu nome e sobrenomes
lista = list(splitNome)
print(lista)

['Rithie', 'Natan']

In [53]:
# Acessando seu nome na lista
print(lista[0])

Rithie

In [54]:
# Copiando a lista
newLista = lista.copy()
print(newLista)

['Rithie', 'Natan']

In [56]:
# Adicionando elemento na nova lista
newLista.append("Laranja")
print(newLista)

['Rithie', 'Natan', 'Carvalhaes', 'Laranja']

In [57]:
# Adicionar elemento em qualquer posição da lista
newLista.insert(3, "Maçã")
print(newLista)

['Rithie', 'Natan', 'Carvalhaes', 'Maçã', 'Laranja']

In [58]:
# Excluindo informação da lista
newLista.remove("Laranja")
print(newLista)

['Rithie', 'Natan', 'Carvalhaes', 'Maçã']

In [59]:
# Descobrindo o tamanho da lista
print(len(newLista))

4

In [60]:
# Ordenando a lista
newLista.sort()
print(newLista)

['Carvalhaes', 'Maçã', 'Natan', 'Rithie']

In [61]:
# Invertendo a lista
newLista.sort(reverse=True)
print(newLista)

['Rithie', 'Natan', 'Maçã', 'Carvalhaes']

In [62]:
# Juntando listas
newLista.extend(lista)
print(newLista)

['Rithie', 'Natan', 'Maçã', 'Carvalhaes', 'Rithie', 'Natan']

In [68]:
# Replicando listas
anotherList = newLista.copy()
print(anotherList)

['Rithie', 'Natan', 'Maçã', 'Carvalhaes', 'Rithie', 'Natan']

In [67]:
# Descobrindo o índice de um elemento na lista
print(newLista.index("Maçã"))

2

In [65]:
# Número de ocorrências de um elemento na lista
print(newLista.count("Natan"))

2

#### 6. Listas de listas

In [64]:
listOflists = list((list((1, 2, 3)), list(("A", "B", "C"))))
print(listOflists)

[[1, 2, 3], ['A', 'B', 'C']]