### CONFIGURAÇÃO/INSTALAÇÃO DO AMBIENTE

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 38 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845514 sha256=c55fc684480c0eb50562311b1678d86627dee7dd90fa46981e7bb362dd89c0fb
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SQLContext, SparkSession, functions as F
from pyspark.sql.types import *

In [ ]:
spark = SparkSession.builder.appName('Exemplo_Inferencia_Schema').getOrCreate()
sql = SQLContext(spark)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

#### O ARQUIVO A SEGUIR FOI CARREGADO NO NOTEBOOK ATRAVÉS DO MÉTODO DE UPLOAD NO GOOGLE COLAB. É O MESMO ARQUIVO DISPONIBILIZADO NO CANVAS (dados_exames.csv)

In [ ]:
arquivo = 'DADOS_EXAMES.csv'

In [ ]:
df_exames = spark.read.format('csv').options(inferSchema=True, header=True, delimiter=';').load(arquivo)

#### EXIBINDO UMA AMOSTRA DOS DADOS

In [ ]:
df_exames.show(n=5)

+--------------------+--------------+------+------------+-------+--------------------+----------+--------+--------------------+----------+-------------------+---------+-------------------+----------------------------+----------------------+
|IdUnidadeAtendimento|        Cidade|Estado|   NumPedido|IdExame|               Exame|SiglaExame|Material|          SetorExame|PrecoExame|         DataPedido|QtdExames|QtdAmostrasColhidas|DataPrevistaEntregaResultado|DataLiberacaoResultado|
+--------------------+--------------+------+------------+-------+--------------------+----------+--------+--------------------+----------+-------------------+---------+-------------------+----------------------------+----------------------+
|                   0|BELO HORIZONTE|    MG|PED-05738304|   6986|  TSH ULTRA SENSÍVEL|     TSH-B|  SANGUE|            HORMONIO|      8,35|2022-06-03 07:58:00|        1|                  0|         2022-06-04 16:00:00|   2022-06-03 18:32:07|
|                   0|BELO HORIZONTE|    MG|PED-05746056|   8397|             GAMA GT|       YGT|  SANGUE|BIOQUIMICA ESPECI...|      6,96|2022-06-03 08:07:00|        1|                  0|         2022-06-04 16:00:00|   2022-06-03 16:05:56|
|                   0|BELO HORIZONTE|    MG|PED-05752896|   3376|HIV 1 E 2 PESQUIS...|    HIV-EL|  SANGUE|          IMUNOLOGIA|     13,91|2022-06-03 08:13:00|        1|                  1|         2022-06-04 16:00:00|   2022-06-03 16:38:30|
|                   0|BELO HORIZONTE|    MG|PED-05757912|   2142|COLESTEROL TOTAL ...|      ELFC|  SANGUE|BIOQUIMICA ESPECI...|     23,65|2022-06-03 08:19:00|        1|                  1|         2022-06-04 16:00:00|   2022-06-03 14:36:31|
|                   0|BELO HORIZONTE|    MG|PED-05763384|   3272|ESTUDO GENÉTICO D...|    HEMOCR|DIVERSOS|         GEN. HUMANA|    300,55|2022-06-03 08:28:00|        2|                  2|         2022-06-15 16:00:00|   2022-06-06 15:42:11|
+--------------------+--------------+------+------------+-------+--------------------+----------+--------+--------------------+----------+-------------------+---------+-------------------+----------------------------+----------------------+
only showing top 5 rows

#### IMPRIMINDO SCHEMA DOS DADOS COM A OPÇÃO **inferSchema = True** HABILITADA

In [ ]:
df_exames.printSchema()

root
 |-- IdUnidadeAtendimento: integer (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- NumPedido: string (nullable = true)
 |-- IdExame: integer (nullable = true)
 |-- Exame: string (nullable = true)
 |-- SiglaExame: string (nullable = true)
 |-- Material: string (nullable = true)
 |-- SetorExame: string (nullable = true)
 |-- PrecoExame: string (nullable = true)
 |-- DataPedido: timestamp (nullable = true)
 |-- QtdExames: integer (nullable = true)
 |-- QtdAmostrasColhidas: integer (nullable = true)
 |-- DataPrevistaEntregaResultado: timestamp (nullable = true)
 |-- DataLiberacaoResultado: string (nullable = true)

# Exercício II - Mecanismos de Inferência de Tipagem

### olist_orders_dataset.csv

In [ ]:
df_olist_orders_dataset = spark.read.format('csv').options(inferSchema=True, header=True, delimiter=',').load('olist_orders_dataset.csv')
df_olist_orders_dataset.show(n=5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [ ]:
df_olist_orders_dataset.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_carrier_date: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- order_estimated_delivery_date: timestamp (nullable = true)

### olist_order_reviews_dataset.csv

In [ ]:
df_olist_order_reviews_dataset = spark.read.format('csv').options(inferSchema=True, header=True, delimiter=',').load('olist_order_reviews_dataset.csv')
df_olist_order_reviews_dataset.show(n=5)

+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|           review_id|            order_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                null|                  null| 2018-01-18 00:00:00|    2018-01-18 21:46:59|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                null|                  null| 2018-03-10 00:00:00|    2018-03-11 03:05:13|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                null|                  null| 2018-02-17 00:00:00|    2018-02-18 14:36:24|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                null|  Recebi bem antes ...| 2017-04-21 00:00:00|    2017-04-21 22:02:06|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                null|  Parabéns lojas la...| 2018-03-01 00:00:00|    2018-03-02 10:26:53|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
only showing top 5 rows

In [ ]:
df_olist_order_reviews_dataset.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- review_score: string (nullable = true)
 |-- review_comment_title: string (nullable = true)
 |-- review_comment_message: string (nullable = true)
 |-- review_creation_date: string (nullable = true)
 |-- review_answer_timestamp: string (nullable = true)

In [ ]:
#---------- Change columns types ----------
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.withColumn('review_score', df_olist_order_reviews_dataset['review_score'].cast('smallint'))
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.withColumn('review_creation_date', df_olist_order_reviews_dataset['review_creation_date'].cast('timestamp'))
df_olist_order_reviews_dataset = df_olist_order_reviews_dataset.withColumn('review_answer_timestamp', df_olist_order_reviews_dataset['review_answer_timestamp'].cast('timestamp'))
df_olist_order_reviews_dataset.show(n=5)

+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|           review_id|            order_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                null|                  null| 2018-01-18 00:00:00|    2018-01-18 21:46:59|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                null|                  null| 2018-03-10 00:00:00|    2018-03-11 03:05:13|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                null|                  null| 2018-02-17 00:00:00|    2018-02-18 14:36:24|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                null|  Recebi bem antes ...| 2017-04-21 00:00:00|    2017-04-21 22:02:06|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                null|  Parabéns lojas la...| 2018-03-01 00:00:00|    2018-03-02 10:26:53|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
only showing top 5 rows

In [ ]:
df_olist_order_reviews_dataset.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- review_score: short (nullable = true)
 |-- review_comment_title: string (nullable = true)
 |-- review_comment_message: string (nullable = true)
 |-- review_creation_date: timestamp (nullable = true)
 |-- review_answer_timestamp: timestamp (nullable = true)

### olist_customers_dataset.csv

In [ ]:
df_olist_customers_dataset = spark.read.format('csv').options(inferSchema=False, header=True, delimiter=',').load('olist_customers_dataset.csv')
df_olist_customers_dataset.show(n=5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

In [ ]:
df_olist_customers_dataset.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)